body{
    background-image: url(./Imagenalbum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    color: white;
}

.container-album {
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
    width: 400 px;
    height: 600px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px black;
}

.container-nombre{
    margin-top: 30px;
    margin-bottom: 20px;
}
.container-fecha{
    margin-top: 30px;
    margin-bottom: 20px;
}
.container-canciones{
    margin-top: 30px;
    margin-bottom: 20px;
}
.container-artista{
    margin-top: 30px;
    margin-bottom: 20px;
}